.profile-img{
  height:100px;
  margin: 10px;
  border-radius: 60px;
  
}

.header{

  height:150px;
  background-color: rgb(214, 67, 116);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
}

.backarrow{
  padding : 10px;
}

.back{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.pfp{
  display: flex;
  align-items: center;
  justify-content: center;
}